/* Style for our header texts
	* --------------------------------------- */
	h1, h2{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
		background-size: cover;
		background-attachment: fixed;
	}

	.slide{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	
	/*Home Page*/

	#Home_page{
		background-image: url(../images/got_throne_flou.jpg);
		padding: 12% 0 0 0;
	}
	#Home_page h1{
		color: black;
		font-size: 4em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 4px 4px 4px white;
	}

	#Home_page h2{
		font-size: 2.2em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}
	
	/*disclaimer*/

	#disclaimer{
		background-image: url(../images/got_throne_flou.jpg);
		padding: 15% 0 0 0;
	}
	#disclaimer h1{
		font-size: 1.5em;
		/*text-transform: uppercase;*/
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	/*compteur*/

	#compteur{
		background-image: url(../images/got_blueEye2.jpg);
		padding: 3% 0 0 0;
	}
	#compteur h1{
		font-size: 3em;
		text-transform: uppercase;
		margin: 20px;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	#compteur h2{
		font-size: 1.7em;
		text-transform: uppercase;
		margin: 320px 0 0 0;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	/*houses*/

	#houses{
		background-image: url(../images/got_houses.jpg);
		padding: 10% 0 0 0;
	}
	#houses h1{
		margin: 27% 0 0 0;
		background-color: black;
		font-size: 3em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 6px 6px 6px #000000;
	}

	.housesNames ul {
	  list-style-type: none;
	  text-transform: uppercase;
	  }

	  .housesNames ul li {
	    display: inline-block;
	    text-align: center;
	    font-size: 2.5em;
	    font-weight: bold;
	    color: white;
	    width: 20%;
	    float: left;
	    text-shadow: 4px 4px 4px #000000;
	  }

	/*commander*/

	#commander{
		background-image: url(../images/got_mountain_flou.jpg);
		padding: 15% 0 0 0;
	}
	#commander h1{
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	/*commander_result*/

	#commander_result{
		/*background-image: url(../images/got_jonSnow.jpg);*/
		background-image: url(../images/got_mountain.jpg);
		padding: 2% 0 0 0;
	}
	#commander_result h1{
		font-size: 3.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	#commander_result img{
		height: 85%;
		margin: 5px;
	}

	/*section 4*/

	#section4{
		background-image: url(../images/got_raven.jpg);
		padding: 15% 0 0 0;
	}
	#section4 h1{
		font-size: 4.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 4px 4px 4px #000000;
	}

	/*battleStrat*/

	#battleStrat{
		/*background-image: url(../images/got_jonSnow.jpg);*/
		background-image: url(../images/got_mountain.jpg);
		padding: 2% 0 0 0;
	}

	/*screenMain*/

	#screenMain{
		/*background-image: url(../images/got_jonSnow.jpg);*/
		background-image: url(../images/got_mountain.jpg);
		padding: 2% 0 0 0;
	}

	/*screenDead*/

	#screenDead{
		/*background-image: url(../images/got_jonSnow.jpg);*/
		background-image: url(../images/got_mountain.jpg);
		padding: 2% 0 0 0;
	}